.input-group {
   width: 218px;
   margin-top: 5px;
   margin-bottom: 10px;
   overflow: hidden;
   position: relative;
   display: flex;
   flex-wrap: wrap;
   border-radius: 4px;
   align-items: stretch;
   border: 1px solid #BCC6D4;
}

.error {
   margin-top: 5px;
   margin-bottom: 10px;
   overflow: hidden;
   position: relative;
   display: flex;
   border-radius: 10px;
   align-items: stretch;
   border: 1px solid #f00;
   width: 370px;
}

.input-group-prepend>.input-group-text:first-child {
   padding-left: 14px;
}

.input-group .form-control-new::placeholder,
.error .form-control-new::placeholder {
   color: #dadada;
   font-size: 14px;
}

.input-group .form-control-new,
.error .form-control-new {
   border-radius: 10px;
   display: block;
   padding: 0.375rem 0.75rem;
   line-height: 1.5;
   color: #A8A8A8;
   background-clip: padding-box;
   transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
   font-size: 14px;
   margin-left: 0px !important;
   background-color: transparent !important;
   height: 38px;
   border: none !important;
   padding-left: 7px;
}


.input-group .input-group-prepend {
   display: flex;
}

.input-group input:focus-visible {
   outline: none;
   border: 0;
}

.input-group .input-group-prepend .input-group-text,
.error .input-group-prepend .input-group-text {
   font-size: 14px;
   background-color: white;
   border: none !important;
   padding-right: 4px;
   margin-right: -2px;
   color: #A8A8A8;
}

@media screen and (max-width: 576px) {
   .error {
      width: 320px;
   }
}

@media screen and (max-width: 370px) {
   .error {
      width: 250px;
   }

   .input-group-prepend .input-group-text {
      font-size: 16px !important;
   }

   .input-group .form-control-new {
      font-size: 16px !important;
   }
}