html {
  width: 100%;
  overflow-x: hidden !important;
}

body {
  margin: 0;
  width: 100%;
  /* overflow-x: hidden !important; */
  font-family: 'Open Sans', sans-serif;
  background: linear-gradient(85.38deg, #edede4 -23.38%, #f8f2eb 97.65%);
}

a,
button {
  cursor: pointer;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
  background-color: transparent;
}

.ant-modal-content {
  border-radius: 8px !important;
}
.ant-modal-content .ant-btn-primary {
  padding: 6px 36px;
  height: auto;
  border-color: #318161;
  background: #318161;
}
.ant-modal-content .ant-btn-primary:hover,
.ant-modal-content .ant-btn-primary:active,
.ant-modal-content .ant-btn-primary:focus {
  border-color: #194131;
  background: #194131;
}
