body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a,
button {
  cursor: pointer;
}

.ant-timeline-item-head-blue {
  color: #1890ff;
  /* border-color: #1890ff; */
}
.ant-timeline-item-head {
  position: absolute;
  width: 12px !important;
  height: 12px !important;  
  background: #C6C5C2 !important;
  border: 2px solid transparent !important;
  border-radius: 100px;
}